.git
.gitignore
vendor
node_modules
.next
.env
.env.*
!.env.example
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
tests
*.md
docker
docker-compose*.yml
Dockerfile*
.idea
.vscode
